@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

:root {
    --nav-bar-light: #e4e8ec;
    --nav-bar-dark: #282c34;
    --background-light: #f8f9fa;
    --background-dark: #1e1e1e;
    --text-light: #343a40;
    --text-dark: #eaeaea;
    --a-light: #007bff;
    --a-dark: #61dafb;
    --toggle-btn-light: #8ea2b8;
    --toggle-btn-dark: #cedbe9;
    --mulish: 'Mulish', sans-serif;
    --playwrite: "Playwrite GB S", cursive
}

header {
    margin: 0;
}

#h1-nav-light {
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: var(--nav-bar-light);
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid var(--text-light)
}

#h1-nav-dark {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: fixed;
    width:100%;
    height: 70px;
    background-color: var(--nav-bar-dark);
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid var(--text-light)
}


.a-light {
    color: var(--text-light);
    font-size: 16px;
    font-weight: bold;
    font-family: var(--mulish);
    text-decoration: none;
    margin: 10px;
    padding-right: 10px;
}

.a-dark {
    color: var(--text-dark);
    font-size: 16px;
    font-weight: bold;
    font-family: var(--mulish);
    text-decoration: none;
    margin: 10px;
    padding-right: 10px;
}

.a-light:hover {
    color: var(--a-light);
}

.a-dark:hover {
    color: var(--a-dark);
}

#light-dark-mode {
    background-color: var(--toggle-btn-dark);
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    margin-left: 90%;
    margin-top: 3px;
    position: fixed;
    z-index: 6;
    font-family: var(--mulish);
    font-weight: bold;
}

#light-dark-mode:active {
    background-color: var(--toggle-btn-light);
}

#light-dark-mode:hover {
    background-color: var(--a-dark);
}

.light {/*body*/
    background-color: var(--background-light);
    width: 100%;
    margin: 0
}

.dark {/*body*/
    background-color: var(--background-dark);
    width: 100%;
    margin: 0
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 100px;
    margin-right: 10px;
    margin-left: 10px;
}

img {
    max-width: 150px;
    max-height: 150px;
    flex-shrink: 0;
    flex-grow: 2;
    border-radius: 10px;
    border: 1px solid var(--text-light);
    box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.3);
}

.section-div {
    display: flex;
    justify-content: space-around;
    text-align: start;
    gap: 10px;
}

.section-div-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin-left: 13%;
}

.section-div-2-1 {
    display: flex;
    text-align: end;
}

.section-div-2-2 {
    display: flex;
    text-align: start;
}

.title-light {
    font-family: var(--playwrite);
    color: var(--text-light);
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
    text-decoration:underline;
}

.title-dark {
    font-family: var(--playwrite);
    color: var(--text-dark);
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
    text-decoration:underline;
}

.p-light {
    color: var(--text-light);
    font-size: 16px;
    font-family: var(--mulish);
    padding: 10px;
}

.p-dark {
    color: var(--text-dark);
    font-size: 16px;
    font-family: var(--mulish);
    padding: 10px;
}

.pendu-light {
    color: var(--text-light);
    font-size: 20px;
    font-weight: bold;
    font-family: var(--mulish);
}

.pendu-dark {
    color: var(--text-dark);
    font-size: 20px;
    font-weight: bold;
    font-family: var(--mulish);
}

#guess-span {
    font-family: var(--mulish);
}

#guess-input, #guess-input-pendu {
    width: 40px;
    height: 30px;
    font-family: var(--mulish);
    font-size: 14px;
    text-align: center;
}

#guess-button, #guess-button-pendu {
    width: 75px;
    height: 36px;
    font-family: var(--mulish);
    font-weight: bold;
    font-size: 16px;
}

#guess-number {
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.3);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px;
}

#pendu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.3);
    padding: 10px 50px
}

footer {
    border-top: 1px solid black;
    width: 100%;
    margin-top: 40px;
    padding: 0;
}

#contact {
    display: flex;
    justify-content: space-around;
    color: black;
    font-size: 16px;
    font-family: var(--mulish);
    font-weight: bolder;
    margin: 0;
    padding: 0;
}